<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ServletRegister</servlet-name>
  	<display-name>ServletRegister</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.ServletRegister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BooksAddServlet</servlet-name>
  	<display-name>BooksAddServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.BooksAddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditBookServlet</servlet-name>
  	<display-name>EditBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.EditBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditServlet</servlet-name>
  	<display-name>EditServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.EditServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteServlet</servlet-name>
  	<display-name>DeleteServlet</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartServlet</servlet-name>
  	<display-name>CartServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CartServ</servlet-name>
  	<display-name>CartServ</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.CartServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveBookServlet</servlet-name>
  	<display-name>RemoveBookServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.RemoveBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddOldBookServ</servlet-name>
  	<display-name>AddOldBookServ</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.AddOldBookServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteOldBookServ</servlet-name>
  	<display-name>DeleteOldBookServ</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.DeleteOldBookServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateProfileServ</servlet-name>
  	<display-name>updateProfileServ</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.updateProfileServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderServlet</servlet-name>
  	<display-name>OrderServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchBook</servlet-name>
  	<display-name>SearchBook</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.SearchBook</servlet-class>
  </servlet>
 <servlet-mapping>
	<servlet-name>ServletRegister</servlet-name>
	<url-pattern>/ServletRegister</url-pattern>
</servlet-mapping>
 <servlet-mapping>
 	<servlet-name>LoginServlet</servlet-name>
 	<url-pattern>/LoginServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>BooksAddServlet</servlet-name>
 	<url-pattern>/BooksAddServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>EditServlet</servlet-name>
 	<url-pattern>/EditServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>DeleteServlet</servlet-name>
 	<url-pattern>/DeleteServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>LogoutServlet</servlet-name>
 	<url-pattern>/LogoutServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>CartServlet</servlet-name>
 	<url-pattern>/CartServlet</url-pattern>
 </servlet-mapping>

 <servlet-mapping>
 	<servlet-name>CartServ</servlet-name>
 	<url-pattern>/CartServ</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>RemoveBookServlet</servlet-name>
 	<url-pattern>/RemoveBookServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>AddOldBookServ</servlet-name>
 	<url-pattern>/AddOldBookServ</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>DeleteOldBookServ</servlet-name>
 	<url-pattern>/DeleteOldBookServ</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>updateProfileServ</servlet-name>
 	<url-pattern>/updateProfileServ</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>OrderServlet</servlet-name>
 	<url-pattern>/OrderServlet</url-pattern>
 </servlet-mapping>

</web-app>